* {
    color: white;
}

body {
    background-color: black;
}

#output {
    grid-area: output;
    font-size: 30px;
    margin: auto;
}
#clear {
    grid-area: clear;
}
#negPos {
    grid-area: negPos;
}
#divide {
    grid-area: divide;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#multiply {
    grid-area: multiply;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#subtract {
    grid-area: subtract;
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#add {
    grid-area: add;
}
#zero {
    grid-area: zero;
}
#dot {
    grid-area: dot;
}
#equals {
    grid-area: equals;
}

.calculator-base {
    position: relative;
    margin: auto;
    display: grid;
    grid-gap: 0px;

    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 750px;
    max-width: 600px;
    max-height: 750px;

    grid-template-areas: 
        "output output output output"
        "clear clear negPos divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero zero dot equals";
        
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

.calculator-base button {
    font-size: 30px;
}

.functional {
    background-color: rgb(31, 31, 31);
}

.number {
    background-color: gray;
}

.operator {
    background-color: orangered;
}

@media (max-width:600px){
    .calculator-base {
        overflow: hidden;
        position: relative;
        margin: auto;
        display: grid;
        grid-gap: 0px;
       
        margin-top: 10%;
        width: 100%;
        height: 100%;
        min-width: 300px;
        min-height: 550px;
        max-width: 300px;
        max-height: 550px;
    }

    .calculator-base button {
        font-size: 12px;
    }

    #output {
        font-size: 12px;
    }
}